In [26]:
import pandas as pd
import numpy as np

In [48]:
from collections import Counter

In [38]:
df_test=pd.read_csv('test_offline.csv')

In [39]:
df_train=pd.read_csv('train_offline.csv')

In [29]:
print(df_test.shape)
print(df_train.shape)

(594142, 6)
(1160742, 7)

In [34]:
df_train.head()

,User_id,Merchant_id,Coupon_id,Discount_rate,Distance,Date_received,Date,label
0,1439408,2632,NaN,NaN,0.0,NaN,20160217.0,-1
1,1439408,2632,8591.0,20:1,0.0,20160217.0,NaN,0
2,1439408,2632,1078.0,20:1,0.0,20160319.0,NaN,0
3,1832624,3381,7610.0,200:20,0.0,20160429.0,NaN,0
4,2029232,3381,11951.0,200:20,1.0,20160129.0,NaN,0

In [31]:
df_test.head()

   User_id  Merchant_id  Coupon_id Discount_rate  Distance  Date_received
0  1439408         4663    11002.0        150:20       1.0     20160528.0
1  1439408         2632     8591.0          20:1       0.0     20160613.0
2  1439408         2632        NaN           NaN       0.0            NaN
3  1439408         2632     8591.0          20:1       0.0     20160516.0
4  2029232          450     1532.0          30:5       0.0     20160530.0

In [40]:
def label(row):
    if np.isnan(row['Date_received']):
        return -1
    if not np.isnan(row['Date']):
        td = pd.to_datetime(row['Date'], format='%Y%m%d') -  pd.to_datetime(row['Date_received'], format='%Y%m%d')
        if td <= pd.Timedelta(15, 'D'):
            return 1
    return 0

In [41]:
df_train["label"] = df_train.apply(label, axis=1)

In [42]:
train_date = (df_train['Date'])
train_label= df_train['label']
ntrain = df_train.shape[0]
ntest = df_test.shape[0]
#將salepricedrop掉
df_train.drop('Date',axis=1,inplace = True)
df_train.drop('label',axis=1,inplace=True)
df = pd.concat((df_train, df_test)).reset_index(drop=True)

In [43]:
df

   User_id  Merchant_id  Coupon_id Discount_rate  Distance  Date_received
0  1439408         2632        NaN           NaN       0.0            NaN
1  1439408         2632     8591.0          20:1       0.0     20160217.0
2  1439408         2632     1078.0          20:1       0.0     20160319.0
3  1832624         3381     7610.0        200:20       0.0     20160429.0
4  2029232         3381    11951.0        200:20       1.0     20160129.0

In [44]:
def getWeekday(row):
    if (np.isnan(row)) or (row==-1):
        return row
    else:
        return pd.to_datetime(row, format = "%Y%m%d").dayofweek+1

In [45]:
df['weekday'] = df['Date_received'].apply(getWeekday)

In [61]:
# weekday_type (weekend = 1)
df['weekday_type'] = df['weekday'].astype('str').apply(lambda x : 1 if x in ['6.0','7.0'] else 0 ) # apply to trainset

In [62]:
Counter(df.weekday_type)

Counter({0: 1402059, 1: 352825})

In [ ]:
weekdaycols = ['weekday_' + str(i) for i in range(1,8)]
print(weekdaycols)

tmpdf = pd.get_dummies(df['weekday'].replace(-1, np.nan))
tmpdf.columns = weekdaycols
df[weekdaycols] = tmpdf

tmpdf = pd.get_dummies(dftest['weekday'].replace(-1, np.nan))
tmpdf.columns = weekdaycols
dftest[weekdaycols] = tmpdf